.dark {
  --bgColor: var(--black);
  --bgColor1: var(--gray);
  --shadowColor: var(--lightGrey1);
  --fontColor: var(--pink);
  --borderColor: var(--pink);
  #break-nav , .tittle{
    color: var(--yellow);
  }
  #container{
    .views{
      background-color: var(--bgColor1);
    }
  }
}