.normal {
  --bgColor: var(--white);
  --bgColor1: var(--lightGrey);
  --shadowColor: var(--lightGrey1);
  --fontColor: var(--black);
  --borderColor: var(--white);
  // #break-nav , .tittle{
  //   color: var(--blue);
  // }
  // #container{
  //   .views{
  //     background-color: var(--bgColor1);
  //   }
  // }
}