.yellow {
  --bgColor: var(--yellow);
  --bgColor1: var(--gray);
  --shadowColor: var(--lightGrey1);
  --fontColor: var(--black);
  --borderColor: var(--pink);
  // #break-nav , .tittle{
  //   color: var(--yellow);
  // }
  // #container{
  //   .views{
  //     background-color: var(--bgColor1);
  //   }
  // }
}