$Basic: 0.5rem;

// 文字大小相关
$font8: $Basic * 0.8;
$font10: $Basic;
$font12: $Basic * 1.2;
$font14: $Basic * 1.4;
$font16: $Basic * 1.6;
$font18: $Basic * 1.8;
$font20: $Basic * 2;
$font23: $Basic * 2.3;
$font24: $Basic * 2.4;
$font26: $Basic * 2.6;
$font28: $Basic * 2.8;
$font30: $Basic * 3;
$font36: $Basic * 3.6;
$font48: $Basic * 4.8;
$font60: $Basic * 6;

